
@import "bootstrap";

body {
  margin-bottom: 100px;
}

.jumbotron h1 {
  text-align: center;
}

.notice {
  width: 80%;
}

.alert {
  width: 80%;
}

.admin-info h2 {
  text-align: center;
}

.row-flex {
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 10px;
}
